<div class="cadastro">
  <h2>login no sistma</h2>

  <form>
    <label>Login: </label>
    <input type="text" name="login" class="campo"/>
    <label>Senha: </label>
    <input type="password" name="senha1" class="campo"/>
    <label>Confirmação da Senha: </label>
    <input type="password" name="senha1" class="campo"/>
    <hr/>
   <input type="submit" value="Logar no sistema" class="botao"/>
  </form>
  <p>Entrar no sistema de um projeto para um e-commerce a ser desenvolvido</p>

  <p class="center">Desenvolvido por Gustavo Gregório</p>
</div>
