<div class="home">
   <h2>Desenvolver na carreira como profissional</h2>
   <p>O nosos desenvolvimento profissonal smepre é da melhor forma podendo ser um dos melhores
      para prosperarmos melhor e evoluir bem mais rapido, sempre no melhor momento, para sempre
      dar o melhor, para um crescimento dedicado. Sempre é bom crescer e aprender novas habilidades
      profissionais , para quando tivermos que colocar em pratica, podermos ser bem sucedido.
   </p>
   <div class="container">
    <div class="lado">
      <img [src]="imageUrl" alt="imagem">
   </div>
   <div class="lado">
      <p>Desenvolver sempre pé importnate para nossa evolução, para pode r aprender melhor mais rapido, smepre é muito importnate evoluir
         no conheicmentio aprimorando ainda melhor, da forma mais simples, sempre crescendo do melhor formato para ser um profissional de
         excelenecia, para poder executar as tarefas da melhor maneira.
         Profisssionalismo smepre estar em primerio lugar para umja crescimento apropriado num estudo sempre atualizado nas tecnologias
         que é bem importante profission almentalmente.Sempre podemos crescer, para tem projetos de vida, sempre ganhando experiência
         profissioanl do jeito mais inovador para um estudo com muita dedicação, sempre aprendendo novas tecnologias, e sempre dando
         o melhor que podmeos para ser um grande profissional. O cresicmento smepre é a pratica para uma boa evolução profissional
         sempre nos preparandio para um mercado de trablho altamente qualificado, querendo profissionais dedicandos e persevereantes
         na sua area de atuação, que é fundamental para o sucesso de sua carreira profissional.
         A deidcação smepre vem do humano, que da força para continuarmos a nossa profissão é Deus , que semrpe nos fortalece na nossa
         caminhada profissional, para exercermos da melhor maneira nossa profissão

         Motivação para estudar mais e melhor:"É melhor tentar algo, vê-lo não funcionar e aprender
         com isso, do que não fazer nada","Sucesso é o acúmulo de pequenos esforços, repetidos dia
         a dia","Comece de onde você está. Use o que vc tiver. Faça o que você puder","Descobri que,
         quanto mais eu trabalho, mais sorte eu pareço ter.","Não deseja que as coisas sejam mais facieis,
         deseja que você seja o melhor.", Essas são as frases para mantermos nos animados para enfre=ntar
         desafios e crescer profissionalmente, para ser um escelente profissional.
      </p>
    </div>
   </div>
   <p> Devemos lutar árta da o nosso melhor para crecsermos profisisonalmente sempre sendo produtivo, para
       para a gente evoluir da melhor forma, sempre estudfadno , pois quanto mais estuda, mais aprendemos e
       podemos nos aperfeiçoar da melhor forma.
   </p>
   <p class="center">Desenvolvido por Gustavo Gregoório</p>
</div>

