<div class="estrategia">
   <h2>Estrategia para vencer na area de atuação</h2>
   <p>Na area de TI é bom que as pessoas poodem trabalhar a hora que elas quiserem e crecser no momento
      delas para ganhar od inheiuro dels independente de qualquer coisa, pois a vida é mais flexivel para o trabalho,
      não precisa se matar de trabalhar, pode estiudar o quanto tempo que der, pois a area de TI é mais estudo do que
      trabalho, temos que sempre no atualizar, no ramo da programação e desenvolviomento de sistemas, tudo é internet,
      é aplicativo, nós somos rodeados da tecnologi ao dia todo, isos é bem importnate para a vida das pessoas, para
      o crescimento profissional.
      Sempre ´pe bom estudar o backend, com a logica de programação, api, e MVC, com sistemas com logica de programação,
      regras de negocios para entender melhor a forma de desenvolver profissionalmente que pe bastante comum, podenod sempre
      praticar o bem e crescer tanto no backend como no frontend, para evoluir da melhor forma.
      Sempre é muito importnate estudar, para aprender novas tecnologias, pois ainda bem um profissional de TI nunca fica
      parado, tem de estudar bbastnate para a area de TI, pois é muito fundamental, para o seu crescimento profissional, para
      sua carreira, melhor do que as outras carreiras que não se estuda e consegue, mais faz no maximo uma pos, e se ficar
      parado esfria muito, pois na area de TI, pode escfriar bastnate se não praticar, tem de ficar dia e noite trabalhando,
      pois essa area ganha muito bem, pois a e volução sempre é muito importante para nosso cresciemtno profissional.
   </p>
   <p>
    Na area de Infra a pçessoa pode até estudar, mais n~;ao tanto quanto na rpogramação, posi existe muitas pessoas que querem
    se tortnar programadores para poder crescer e eficar estudando, me vejo programando atpé mais velho, posi é a area de atuação
    que mais identifico na carreiura, quase tiodo mundo que entra em TI, se apaixona por programação e desenvolvimento de sistemas
    pois é fundamental no cresciemtno, pois tudo pe tecnologia, também existe tecnolgia de desenvolvimento de hardware, que é
    desenvolvimento de mapeamento de reders por codificação, pois é uma area inteligente como programação é fundamental para a
    evolução profissional, pois faz importnate praticar, pois a area de desemnvolvimento é passar dia e noite estudando.
   </p>
   <h2>Excelçentes componentes</h2>
   <tr><td [attr.colspan]="1 + 1">One-Two</td></tr>

   <p>The hero's birthday is {{ birthday | date }}</p>

   <p class="center">Desenvolvido por Gustavo Gregório</p>

</div>
